body {
  background-image: url('/images/header.jpg');

  @media (--breakpoint-not-small) {
    background-image: url('/images/header@2x.jpg');
  }

  @media (--breakpoint-large) {
    background-image: url('/images/header@3x.jpg');
  }
}
