// -----------------------------------------------------------------------------
// This file contains all styles related to the input bar component.
// -----------------------------------------------------------------------------

.input-bar {

  // max-width: $measure;

  margin: 0 auto;

  input {
    float: left;

    width: calc(100% - 50px);

    padding: $gutter*0.25 0;

    border: none;
    border-bottom: 3px solid $snorlax;
    border-radius: 0;

    background: transparent;

    color: $snorlax;

    &::placeholder {
      color: $machamp;
    }
  }

  button {
    width: 50px;

    padding: $gutter*0.25 0;

    border: none;

    background: transparent;

    font-size: $h3-font-size;
    color: $snorlax;

    @include on-event {
      color: $venusaur;
    }

    &:active {
      color: $ivysaur;
    }
  }
}

.input-bar--white {
  input {
    border-bottom-color: $lugia;

    color: $lugia;

    &::placeholder {
      color: $machop;
    }
  }
  button {
    color: $lugia;

    @include on-event {
      color: $machop;
    }

    &:active {
      color: $machamp;
    }
  }
}
