// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  @include font(heading, medium);

  padding: $base-font-size * 0.5 $base-font-size * 1.5;
  border: 3px solid $bulbasaur;
  border-radius: $base-font-size * 1.5;

  background: transparent;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: $bulbasaur;

  cursor: pointer;

  transition: all 0.3s ease;
  
  &:hover {
    background: $bulbasaur;
    color: $lugia;
  }
}
button {
  @extend .btn;
}
a.btn:hover {
  border-color: $bulbasaur;
}
