footer.footer
  .footer__content
    //- include search-box.jade
    .footer__post
      p Latest Blog Post
      h2.footer__post-title: a(href="/#{collections.blog[0].path}")= collections.blog[0].title
      h4.footer__post-snippet= collections.blog[0].snippet
    .footer__links
      ul.footer__list.footer__list--nav
        li: a(href="/") Home
        li: a(href="/products") Products
        li: a(href="/services") Services
        li: a(href="/blog") Blog
        li: a(href="/contact") Contact
        li: a(href="/about") About
      ul.footer__list.footer__list--contact
        li: a(href="mailto:info@phenotonic.com") Email
        li: a(href="//facebook.com/phenotonic") Facebook
        li: a(href="//instagram.com/phenotonic") Instagram
        li: a(href="//twitter.com/phenotonic") Twitter
        //- li: a(href="//massroots.com/user/phenotonic") MassRoots
  .footer__copyright
    p: small &copy; 2015 &ndash; <span class="footer__copyright-year">2016</span> Phenotonic, LLC
