nav.nav(role="navigation")

  .nav__content

    i.material-icons.nav__button.nav__button--mobile menu

    a.nav__logo(href="/")
      svg(role="presentation", title="Phenotonic logo"): use(xlink:href="/images/site.svg#logo")
      
    .nav__menu-icon: svg(role="presentation", title="Menu"): use(xlink:href="/images/site.svg#menu-icon")
    ul.nav__links
      li: a(href="/products") Products
      li: a(href="/services") Services
      li: a(href="/blog") Blog

    .nav__cart-icon: svg(role="presentation", title="Shopping Cart"): use(xlink:href="/images/site.svg#cart-icon")
