nav.nav(role="navigation")

  .nav__content

    i.material-icons.nav__button.nav__button--mobile menu

    a.nav__logo(href="/")
      include ../svg/logo.svg
      
    i.nav__menu-icon.material-icons menu
    ul.nav__links
      li: a(href="/products") Products
      li: a(href="/services") Services
      li: a(href="/blog") Blog

    i.nav__cart-icon.material-icons.snipcart-checkout shopping_cart
