nav.nav(role="navigation")

  .nav__content
    
    a.nav__logo(href="/")
      svg(role="presentation", title="Phenotonic logo"): use(xlink:href="/images/site.svg#logo")
      
    ul.nav__links
      li: a(href="/products") Products
      li: a(href="/services") Services
      li: a(href="/blog") Blog
    
    .nav__icon.nav__icon--menu: svg(role="presentation", title="Menu"): use(xlink:href="/images/site.svg#menu-icon")
    .nav__icon.nav__icon--cart.snipcart-checkout: svg(role="presentation", title="Shopping Cart"): use(xlink:href="/images/site.svg#cart-icon")
