script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", async)

script#snipcart(type="text/javascript", src="https://cdn.snipcart.com/scripts/snipcart.js", data-api-key="#{ site.snipcart.key }", async)

script(type="text/javascript", src="/js/main.js", async)

link#snipcart-theme(type="text/css", href="https://cdn.snipcart.com/themes/base/snipcart.min.css", rel="stylesheet", async)
