nav.nav(role="navigation")

  .nav__container.nav__container--bar
    .nav__bar

      a.nav__logo(href="/").is-image
        svg(role="presentation", title="Phenotonic logo"): use(xlink:href="/images/site.svg#logo")

      .nav__icon.nav__icon--menu: svg(role="presentation", title="Menu"): use(xlink:href="/images/site.svg#menu-icon")
      .nav__icon.nav__icon--cart.snipcart-checkout: svg(role="presentation", title="Shopping Cart"): use(xlink:href="/images/site.svg#cart-icon")

  .nav__container.nav__container--links
    .nav__links
      .nav__section.nav__section--main
        ul.nav__list
          li.nav__item: a(href="/") Home
          li.nav__item.nav__item--expanded: a(href="/products") Products
          li.nav__item.nav__item--expanded: a(href="/services") Services
          li.nav__item.nav__item--expanded: a(href="/blog") Blog
          li.nav__item: a(href="/contact") Contact
          li.nav__item: a(href="/about") About

      .nav__section.nav__section--expanded.nav__section--products
        h3.nav__section-title: a(href="/products") Products
        ul.nav__list
          - for (var i = 0; i < 3; i++)
            li.nav__sub-item: a(href="/" + collections.products[i].path)= collections.products[i].title
          //- hr
          //- li.nav__sub-item: a(href="/products") View All Products

      .nav__section.nav__section--expanded.nav__section--services
        h3.nav__section-title: a(href="/services") Services
        ul.nav__list
          li.nav__sub-item: a(href="/services/#consulting") Consulting
          li.nav__sub-item: a(href="/services/#planning") Planning
          li.nav__sub-item: a(href="/services/#installation") Installation
          li.nav__sub-item: a(href="/services/#maintenance") Maintanence

      .nav__section.nav__section--expanded.nav__section--blog
        h3.nav__section-title: a(href="/blog") Blog
        ul.nav__list
          - for (var i = 0; i < 3; i++)
            li.nav__sub-item: a(href="/" + collections.blog[i].path)= collections.blog[i].title
          //- hr
          //- li.nav__sub-item: a(href="/products") View All Posts
