script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")

script#snipcart(type="text/javascript", src="https://cdn.snipcart.com/scripts/snipcart.js", data-api-key= process.env.NODE_ENV == "production" ? site.snipcart.key : site.snipcart.testKey)

script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.0.3/svg4everybody.min.js")

script(type="text/javascript", src="/js/main.js")

link#snipcart-theme(type="text/css", href="https://cdn.snipcart.com/themes/base/snipcart.min.css", rel="stylesheet", async)
