doctype html
html
  head
    include partials/_head.jade
  body
    include partials/_nav.jade

    main.main(role="main")
      block content
        h1= title
        p!= contents

    include partials/_footer.jade
    include partials/_scripts.jade
