doctype html
html
  head
    include partials/_head.jade
  body
    include partials/_nav.jade

    header.landing
      .landing__hero
        h1= landing.headline
        p= landing.copy
        a(href="#{ landing.url }", class="btn")= landing.button

    main.main.main--home(role="main")
      section.intro
        != contents
        a(href="/about", class="btn") Get to Know Us

    include partials/_footer.jade
    include partials/_scripts.jade
