.nav {
  @include outer-container;
  @include row;
  @include position(absolute, 0 0 null 0);
  @include font(heading, book);
  padding-top: 0.25rem;
  &__logo {
    @include span-columns(4);
    height: 60px;
    svg {
      height: 100%;
      width: auto;
    }
    a:hover {
      border: none; // really dumb that this is the only way to not have the border present on the hover state.
    }
  }
  &__links {
    @include span-columns(8);
    @include omega;
    list-style-type: none;
    margin-top: 20px;
    text-align: right;
    li {
      display: inline;
      letter-spacing: 0.05rem;
      padding: 0 2rem;
    }
  }
}
