.nav {
  @include fill-parent;
  @include position(absolute, 0 0 null 0);
  @include pad;
  padding-top: 0.25rem;
  &__content {
    @include outer-container;
    @include row;
    @include font(heading, book);
  }
  &__button {
    @include position(absolute, 1.25rem null null 1rem);
    font-size: $h2-font-size;
    @include respond-to(pint) {
      display: none;
    }
  }
  &__logo {
    height: 60px;
    @include respond-to(pint) {
      @include span-columns(4);
    }
    svg {
      height: 100%;
      width: auto;
      display: block;
      margin: 0 auto;
      position: relative;
      left: 1rem;
      @include respond-to(pint) {
        margin-left: -1rem;
        left: 0;
      }
    }
    a:hover {
      border: none; // really dumb that this is the only way to not have the border present on the hover state.
    }
  }
  &__links {
    display: none;
    @include respond-to(pint) {
      @include span-columns(8);
      @include omega;
    }
    list-style-type: none;
    margin-top: 20px;
    text-align: right;
    li {
      display: inline;
      letter-spacing: 0.05rem;
      margin-right: $gutter;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
