// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors

$bulbasaur: #3ec93e;
$ivysaur: #2ea72e;
$venusaur: #46773c;

$snorlax: #121612;
$lugia: #fafafa;

$machop: #eae6e6;
$machoke: #bdc6c7;
$machamp: #95a6a3;

// Breakpoints

$breakpoints: (
  flight: "(max-width: 40rem)",
  shorty: "(orientation: landscape) and (max-height: 40rem) and (max-width: 64rem)",
  pint: "(min-width: 40.1rem)",
  bomber: "(min-width: 64.1rem)",
  pony: "(min-width: 90.1rem)",
  keg: "(min-width: 120.1rem)"
);

// Font-stacks

$header-text: "Geomanist", $helvetica;
$body-text: "Merriweather", $georgia;

// Type Settings

$modular-scale-ratio: $augmented-fourth;
$modular-scale-base: 1rem;
$measure: 55rem;

// Type Base

$base-font-size: modular-scale(0);
$base-line-height: 1.75;

// Headers

$h1-font-size: modular-scale(3);
$h1-line-height: 1.2;

$h2-font-size: modular-scale(2);
$h2-line-height: 1.3;

$h3-font-size: modular-scale(1);
$h3-line-height: 1.4;

$h4-font-size: modular-scale(0);
$h4-line-height: 1.6;

// Other
$xsmall-font-size: modular-scale(-2);
$xsmall-line-height: 1.25;

$small-font-size: modular-scale(-1);
$small-line-height: 1.5;

$huge-font-size: modular-scale(4);
$huge-line-height: 1.1;

$xhuge-font-size: modular-scale(5);
$xhuge-line-height: 1;

// Large Font stuff
$modular-scale-ratio: $golden;

// Headers

$lg-h1-font-size: modular-scale(3);
$lg-h1-line-height: 1.1;

$lg-h2-font-size: modular-scale(2);
$lg-h2-line-height: 1.25;

$lg-h3-font-size: modular-scale(1);
$lg-h3-line-height: 1.4;

$lg-h4-font-size: modular-scale(0);
$lg-h4-line-height: 1.55;

// Other
$lg-xsmall-font-size: modular-scale(-2);
$lg-xsmall-line-height: 1.25;

$lg-small-font-size: modular-scale(-1);
$lg-small-line-height: 1.5;

$lg-huge-font-size: modular-scale(4);
$lg-huge-line-height: 1.1;

$lg-xhuge-font-size: modular-scale(5);
$lg-xhuge-line-height: 1;

// Grid (Neat) Settings

$max-width: $measure;

// A running list of z-indexii

$zindex: (
  landing: 1,
  hero: 100,
  value: 200,
  value__img: 210,
  value__text: 220,
  nav: 1000
);

// FONT STACKS for @MIXIN FONT
// @author hmphry
// @link http://hmphry.com/useful-sass-mixins

$font-stack:
  (group: header, id: regular, font: $header-text, weight: 400, style: normal),
  (group: header, id: regular-italic, font: $header-text, weight: 400, style: italic),
  (group: header, id: book, font: $header-text, weight: 500, style: normal),
  (group: header, id: book-italic, font: $header-text, weight: 500, style: italic),
  (group: header, id: medium, font: $header-text, weight: 600, style: normal),
  (group: header, id: medium-italic, font: $header-text, weight: 600, style: italic),
  (group: header, id: bold, font: $header-text, weight: 700, style: normal),
  (group: header, id: bold-italic, font: $header-text, weight: 700, style: italic),

  (group: body, id: regular, font: $body-text, weight: 400, style: normal),
  (group: body, id: regular-italic, font: $body-text, weight: 400, style: italic),
  (group: body, id: bold, font: $body-text, weight: 700, style: normal),
  (group: body, id: bold-italic, font: $body-text, weight: 400, style: italic),

  (group: monospace, id: regular, font: $monospace, weight: 400, style: normal),
  (group: monospace, id: regular-italic, font: $monospace, weight: 400, style: italic),
  (group: monospace, id: bold, font: $monospace, weight: 700, style: normal),
  (group: monospace, id: bold-italic, font: $monospace, weight: 400, style: italic);

  // (group: geomanist, id: thin, font: $geomanist, weight: 100, style: normal),
  // (group: geomanist, id: thin-italic, font: $geomanist, weight: 100, style: italic),
  // (group: geomanist, id: extralight, font: $geomanist, weight: 200, style: normal),
  // (group: geomanist, id: extralight-italic, font: $geomanist, weight: 200, style: italic),
  // (group: geomanist, id: light, font: $geomanist, weight: 300, style: normal),
  // (group: geomanist, id: light-italic, font: $geomanist, weight: 300, style: italic),
  // (group: geomanist, id: black, font: $geomanist, weight: 800, style: normal),
  // (group: geomanist, id: black-italic, font: $geomanist, weight: 800, style: italic),
  // (group: geomanist, id: ultra, font: $geomanist, weight: 900, style: normal),
  // (group: geomanist, id: ultra-italic, font: $geomanist, weight: 900, style: italic),
