/*******************************************************************************
 This file contains all styles related to the navigation of the site.
 ******************************************************************************/

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: var(--z-nav);

  background-color: var(--background-primary);

  font-family: var(--heading-text);
  font-weight: 500;

  &__container {
    position: absolute;

    width: 100%;

    background-color: var(--background-primary);

    box-shadow: 0 0 5px 0 var(--shadow-primary);

    transition: transform 0.3s ease-in-out;

    &--bar {
      top: 0;
      left: 0;
      right: 0;

      z-index: var(--z-nav-bar);

      height: var(--nav-height);
    }

    &--links {
      top: var(--nav-height);

      z-index: var(--z-nav-content);

      height: calc(100vh - var(--nav-height));

      background-color: var(--nav-background);

      transform: translateY(calc(var(--base-line-height) * -24));

      overflow-y: auto;

      @media (--mobile-nav) {
        height: auto;
      }
    }

    /* uncss:ignore */
    &--open {
      transform: translateY(0);
    }
  }

  &__bar {
    @neat-outer-container;

    z-index: var(--z-nav-bar);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    height: 100%;

    padding: calc(var(--gutter) * 0.25) var(--gutter);
  }

  &__logo {
    flex: 0 1 auto;

    position: relative;
    top: calc(var(--base-line-height) * -0.1);

    margin-left: 0;
    margin-right: auto;

    &:enter {
      border: none;
    }

    svg {
      display: block;

      height: calc(var(--base-line-height) * 1.5);
    }
  }

  &__icon {
    flex: 0 1 auto;

    width: var(--base-line-height);
    height: var(--base-line-height);

    fill: var(--text-primary);

    cursor: pointer;

    transition: fill 0.2s ease;

    svg {
      display: inline-block;

      width: var(--base-line-height);
      height: var(--base-line-height);
    }

    &:not(:last-of-type) {
      margin-right: calc(var(--gutter) * 0.5);

      @media (--small) {
        margin-right: var(--gutter);
      }
    }

    &:enter {
      fill: var(--link-primary);
    }

    &--cart {
      width: calc(var(--base-line-height) * 2);

      @media (--small) {
        &::after {
          content: attr(data-snipcart-count);

          position: relative;
          top: calc(var(--base-line-height) * -0.25);
          left: calc(var(--gutter) * 0.125);

          color: var(--link-primary);
          font-family: var(--heading-text);
          font-weight: 500;
        }
      }

    }
  }

  /* Nav content */

  &__links {
    @extend .container;

    @media (--medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__section {
    text-align: center;

    @media (--medium) {
      flex: 0 1 auto;

      text-align: left;
    }

    &--expanded {
      display: none;

      @media (--medium) {
        display: block;
      }
    }
  }

  &__list {
    margin-left: 0;
    padding-left: 0;

    list-style-type: none;
  }

  &__item {
    @extend h3;

    &--expanded {
      @media (--medium) {
        display: none;
      }
    }
  }

  &__sub-item {
    font-family: var(--body-text);
    font-weight: 400;

    a {
      color: var(--text-primary);
    }

    &:not(:last-child) {
      margin-bottom: calc(var(--base-line-height) * 0.25);
    }
  }
}
