// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  @include font(heading, medium);

  display: inline-block;

  border-bottom: 0;
  border: 3px solid $button-primary;
  border-radius: $base-font-size * 1.5;
  padding: $base-font-size * 0.5 $base-font-size * 1.5 $base-font-size * 0.5;

  background-color: transparent;

  color: $button-primary;
  text-align: center;
  letter-spacing: 0.05rem;

  cursor: pointer;

  transition: all 0.3s ease;

  @include on-event {
    background-color: $button-primary;

    color: $button-reverse;
  }

  &--reverse {
    border-color: $button-reverse;

    color: $button-reverse;

    @include on-event {
      background-color: $button-reverse;

      color: $button-primary;
    }
  }
}
button {
  @extend .btn;
}
