.contact {

}
label {
  @extend h4;
}
input, textarea {
  @include clearfix;

  width: 100%;

  padding: $gutter*0.5;
  margin-top: $h4-line-height * 0.25;
  margin-bottom: $h4-line-height;
  border: 1px solid $outline-primary;
  border-radius: 3px;
}
