// -----------------------------------------------------------------------------
// This file contains all styles related to the input bar component.
// -----------------------------------------------------------------------------

.input-bar {

  // max-width: $measure;

  margin: 0 auto;

  input {
    float: left;

    width: calc(100% - 50px);

    padding: $gutter*0.25 0;

    border: none;
    border-bottom: 3px solid $text-primary;
    border-radius: 0;

    background: transparent;

    color: $text-primary;

    &::placeholder {
      color: $outline-primary;
    }
  }

  button {
    width: 50px;

    padding: $gutter*0.25 0;

    border: none;

    background: transparent;

    font-size: $h3-font-size;
    color: $text-primary;

    @include on-event {
      color: $accent-primary;
    }

    &:active {
      color: darken($accent-primary, 10%);
    }
  }
}

.input-bar--reverse {
  input {
    border-bottom-color: $text-reverse;

    color: $text-reverse;

    &::placeholder {
      color: $outline-primary;
    }
  }
  button {
    color: $text-primary;

    @include on-event {
      color: $outline-primary;
    }

    &:active {
      color: darken($outline-primary, 10%);
    }
  }
}
