// -----------------------------------------------------------------------------
// This file contains all styles related to the mini-product component.
// -----------------------------------------------------------------------------

.mini-product {
  @include card;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  max-width: $measure;

  margin: 0 $gutter;

  @include respond-to(small) {
    flex-flow: row nowrap;
  }

  @include respond-to(large) {
    margin: 0 auto;
  }

  &--float {
    position: relative;
    top: $card-offset * -1;

    margin-bottom: $card-offset * -1;
  }

  &__image {
    flex: 1;

    height: 200px;

    @include respond-to(small) {
      height: 250px;
    }

    @include respond-to(medium) {
      height: 300px;
    }

    max-height: 50vh;

    img {
      max-width: 100%;
      width: auto;
      max-height: 100%;
      height: auto;

      margin: 0 auto;
    }

    @include on-event {
      border: none;
    }
  }

  &__info {
    flex: 1;

    text-align: center;
  }

  &__manufacturer {
    margin-bottom: $base-line-height * 0.25;

    a {
      color: $text-primary;
    }
  }

  &__name {
    margin-top: $base-line-height * 0.25;
  }

  &__purchase {
    margin-top: 0;
  }

  &__price {
    position: relative;
    top: $base-font-size * 0.25;

    display: inline;

    margin-right: $gutter * 0.5;

    @include respond-to(small) {
      margin-right: $gutter;
    }
  }
}
