// -----------------------------------------------------------------------------
// This file contains all styles related to the product-preview component.
// -----------------------------------------------------------------------------

.product-preview {
  @include card;

  @include span-columns(12);
  @include omega();

  @include respond-to(product-cards) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include respond-to(large) {
    @include span-columns(4);
    @include omega(3n);
  }

  display: block;

  margin-bottom: $base-line-height;

  color: $text-primary;
  text-align: center;

  transition: 0.2s ease transform, 0.3s ease box-shadow;

  @include on-event {
    @include respond-to(large) {
      transform: scale(1.05);
      box-shadow: 0 0 15px $shadow-primary;
    }
  }

  &__image {
    display: block;

    width: 250px;
    max-width: 100%;
    height: 250px;

    margin: 0 auto;

    img {
      display: block;

      width: 100%;
      height: auto;

      margin: 0 auto;
    }

    @include on-event {
      border: none;
    }
  }

  &__placeholder {
    display: block;

    width: 250px;
    max-width: 100%;
    height: 250px;

    margin: 0 auto;
    padding-top: 250px;

    background: $accent-primary;
  }

  &__name {
    color: $link-primary;
  }
  &__data {
    margin-bottom: 0;

    a {
      color: $text-primary;
    }
  }
}
