// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  @include fill-parent;

  background: $brand-primary;

  color: $text-reverse;

  a {
    color: $link-reverse;

    @include on-event {
      color: $link-reverse;
    }
  }

  &__content {
    @include outer-container;
    @include row;
    @include pad;
  }

  &__post {
    @include row;
    @include respond-to(medium) {
      @include span-columns(8);
    }
  }
  &__post-title {
    margin-bottom: 0;
  }
  &__post-snippet {
    margin-top: 0;
  }

  &__links {
    @include row;
    @include respond-to(medium) {
      @include span-columns(4);
      @include omega;
    }
    @include row;

    ul {
      margin: $base-line-height 0 0;
      padding: 0;

      list-style-type: none;
    }
  }
  &__nav {
    @include span-columns(6);
  }
  &__contact {
    @include span-columns(6);
    @include omega;
  }

  &__copyright {
    @include outer-container;
    @include row;
    @include pad(0 default default default);
  }
}
