// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  @include fill-parent;
  @include background-image('default');

  background-color: $brand-primary;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  color: $text-reverse;

  &__text {
    @include outer-container;
    @include pad;

    padding-top: $gutter * 4;
    padding-bottom: $gutter;
  }

  h1 {
    color: $text-reverse;
  }

  a {
    color: $text-reverse;
  }
}
