// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  @include fill-parent;
  @include background-image('site.header');

  background-color: $brand-primary;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  color: $text-reverse;

  &--card {
    padding-bottom: $card-offset;
  }

  &__text {
    @include outer-container;
    @include pad;

    padding-top: $gutter * 4;
    padding-bottom: $gutter;
  }

  &__manufacturer {
    margin-bottom: $base-line-height * 0.25;

    & + .header__title {
      margin-top: $base-line-height * 0.25;
    }
  }

  &__title {
    color: $header-heading;
  }

  a {
    color: $text-reverse;
  }
}
