.nav {
  @include font(heading, book);
  @include position(absolute, 0 0 null 0);

  height: rem(75);

  background: $background-primary;

  box-shadow: 0 0 5px 0 rgba($shadow-primary, 0.25);

  &::selection {
    background-color: $accent-primary;
    background-color: rgba($accent-primary, 0.75);
  }

  &__content {
    @include outer-container;
    @include pad;
    padding-top: $gutter;

    // height: 45px;
  }

  &__logo {
    //@include respond-to(small) {
      @include span-columns(4);

      position: relative;
      top: -$base-font-size;
  //  }

    @include on-event {
      border: none;
    }

    svg {
      display: block;

      height: 45px;
      width: 100%;
      max-width: 200px;

      margin-left: 0;
      margin-right: auto;
    }
  }

  &__links {
    //@include respond-to(small) {
      @include span-columns(8);
      @include omega;
    //}

    margin: 0;

    text-align: right;

    list-style-type: none;

    li {
      display: inline;

      &:not(:last-child) {
        margin-right: $gutter;
      }
    }
  }

  &__button--mobile {
    display: none;
  }
}
