.nav {
  @include font(heading, book);
  @include position(fixed, 0 0 null 0);

  z-index: z(nav);

  background-color: $background-primary;

  &__container {
    position: absolute;

    background-color: $background-primary;

    width: 100%;

    box-shadow: 0 0 5px 0 $shadow-primary;

    transition: transform 0.3s ease-in-out;

    &--bar {
      top: 0; left: 0; right: 0;

      z-index: z(nav-bar);

      height: $nav-height;
    }
    &--links {
      top: $nav-height;

      z-index: z(nav-content);

      height: calc(100vh - #{$nav-height});

      background-color: $nav-background;

      transform: translateY($base-line-height * -24);

      overflow-y: auto;

      @include respond-to(mobile-nav) {
        height: auto;
      }
    }
    &--open {
      transform: translateY(0);
    }
  }

  &__bar {
    @include container;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    z-index: z(nav-bar);

    height: 100%;

    padding: $gutter * 0.25 $gutter;
  }

  &__logo {
    flex: 0 1 auto;

    position: relative;
    top: $base-line-height * -0.1;

    margin-left: 0;
    margin-right: auto;

    @include on-event {
      border: none;
    }

    svg {
      display: block;

      height: $base-line-height * 1.5;
    }
  }

  &__icon {
    flex: 0 1 auto;

    width: $base-line-height;
    height: $base-line-height;

    fill: $text-primary;

    cursor: pointer;

    transition: fill 0.2s ease;

    svg {
      display: inline-block;

      width: $base-line-height;
      height: $base-line-height;
    }

    &:not(:last-of-type) {
      margin-right: $gutter * 0.5;

      @include respond-to(small) {
        margin-right: $gutter;
      }
    }

    @include on-event {
      fill: $link-primary;
    }

    &--cart {
      width: $base-line-height * 2;

      @include respond-to(small) {
        &:after {
          content: attr(data-snipcart-count);

          @include font(heading, medium);

          position: relative;
          top: $base-line-height * -0.25;
          left: $gutter * 0.125;

          color: $link-primary;
        }
      }

    }
  }

  // Nav content
  &__links {
    @include container;

    @include respond-to(medium) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__section {
    text-align: center;

    @include respond-to(medium) {
      flex: 0 1 auto;

      text-align: left;
    }

    &--expanded {
      display: none;

      @include respond-to(medium) {
        display: block;
      }
    }
  }
  &__list {
    margin-left: 0;
    padding-left: 0;

    list-style-type: none;
  }
  &__item {
    @extend h3;

    &--expanded {
      @include respond-to(medium) {
        display: none;
      }
    }
  }
  &__sub-item {
    @include font(body);

    a {
      color: $text-primary;
    }

    &:not(:last-child) {
      margin-bottom: $base-line-height * 0.25;
    }
  }
}
