.nav {
  @include font(heading, book);
  @include position(absolute, 0 0 null 0);

  z-index: z(nav);

  background-color: $background-primary;

  &__container {
    position: absolute;

    background-color: $background-primary;

    width: 100%;

    box-shadow: 0 0 5px 0 rgba($shadow-primary, 0.25);

    transition: transform 0.3s ease;

    &--bar {
      top: 0; left: 0; right: 0;

      z-index: z(nav-bar);

      height: $nav-height;
    }
    &--links {
      top: $nav-height;

      z-index: z(nav-content);

      // background-color: $text-reverse;

      transform: translateY($base-line-height * -20);
    }
    &--open {
      transform: translateY(0);
    }
  }

  &__bar {
    @include container;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;

    z-index: z(nav-bar);

    padding: $gutter * 0.25 $gutter;
  }

  &__logo {
    flex: 0 1 auto;
    align-self: flex-start; // doesn't work?

    position: relative;
    top: $base-line-height * 0.25;

    margin-left:0;
    margin-right: auto;

    @include on-event {
      border: none;
    }

    svg {
      display: block;

      height: 45px;
      width: 100%;
      max-width: 200px;
    }
  }

  &__icon {
    flex: 0 1 auto;

    width: $base-line-height;
    height: $base-line-height;

    fill: $text-primary;

    cursor: pointer;

    transition: fill 0.2s ease;

    svg {
      display: inline-block;

      width: $base-line-height;
      height: $base-line-height;
    }

    &:not(:last-of-type) {
      margin-right: $gutter;
    }

    @include on-event {
      fill: $link-primary;
    }

    &--cart {
      width: $base-line-height * 2;

      &:after {
        content: attr(data-snipcart-count);

        @include font(heading, medium);

        position: relative;
        top: $base-line-height * -0.25;
        left: $gutter * 0.125;

        color: $link-primary;
      }
    }
  }

  // Nav content
  &__links {
    @include container;

    @include respond-to(medium) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__section {
    text-align: center;

    @include respond-to(medium) {
      flex: 0 1 auto;

      text-align: left;
    }

    &--expanded {
      display: none;

      @include respond-to(medium) {
        display: block;
      }
    }
  }
  &__list {
    margin-left: 0;
    padding-left: 0;

    list-style-type: none;
  }
  &__item {
    @extend h3;

    &--expanded {
      @include respond-to(medium) {
        display: none;
      }
    }
  }
  &__sub-item {
    @include font(body);

    a {
      color: $text-primary;
    }

    &:not(:last-child) {
      margin-bottom: $base-line-height * 0.25;
    }
  }
}
