// -----------------------------------------------------------------------------
// This file contains all styles related to the pagination of the site.
// -----------------------------------------------------------------------------

.pagination {
  @include row;

  &__first {
    @include span-columns(3);

    min-height: 1px;
  }

  &__pages {
    @include span-columns(6);
    @include font(heading, regular);

    position: relative;
    top: $base-font-size * -1.5;

    list-style-type: none;

    font-size: $h3-font-size;
    text-align: center;

    li {
      display: inline;

      &:not(:last-child) {
        margin-right: $gutter * 0.5;
      }
    }

    a {
      color: $link-inactive;

      @include on-event {
        color: $link-primary;
      }
    }
  }
  &__current {
    color: $link-primary;
    font-weight: 500;
  }

  &__last {
    @include span-columns(3);
    @include omega;

    min-height: 1px;

    text-align: right;
  }
}
