// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  border: 3px solid $ivysaur;
  border-radius: $base-font-size * 1.5;
  text-align: center;
  @include font(geomanist, medium);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: $base-font-size * 0.5 $base-font-size * 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: $ivysaur;
  &:hover {
    background: $ivysaur;
    color: $lugia;
  }
}
button {
  @extend .btn;
}
