// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  background: $snorlax;
  color: $lugia;
  width: 100vw;
  padding-top: $base-font-size;
  padding-bottom: $base-font-size;
}
.footer {
  section {
  }
  &__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    @include respond-to(pint) {
      text-align: left;
    }
    a {
      color: $lugia;
      &:hover {
        color: $ivysaur;
      }
    }
  }
  &__icon {
    display: none;
    @include respond-to(pint) {
      display: block;
      fill: $lugia;
      margin-top: 0.25rem;
    }
  }
}
