.nav {
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 0; left: 0; right: 0;
  background: transparent;
  &__logo {
    svg {
      padding-top: 0.25rem;
      height: 60px;
    }
  }
  &__links {
    &__list {
      list-style-type: none;
      margin-top: 0.85rem;
      text-align: right;
      &__item {
        display: inline;
        @extend h5;
        font-weight: 400;
        padding: 0 2rem;
      }
    }
  }
}
