// -----------------------------------------------------------------------------
// This file contains styles that are specific to the blog page.
// -----------------------------------------------------------------------------

.header--blog {
  @include background-image('blog');
}

.post-preview {
  &__meta {
    @include pad(0 default);

    width: 25%;

    float: left;

    border-right: 3px solid $outline-primary;

    text-align: right;
  }
  &__date {
    @include clearfix;

    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
  &__tags {
    margin-bottom: $h4-line-height;

    a {
      color: $link-inactive;
    }
  }
  &__tag {
    &:not(:last-child):after {
      content: ', ';

      user-select: text;
    }
  }

  &__text {
    @include pad(0.1px default);
    @include clearfix;

    width: 75%;

    margin-left: auto;
    margin-right: 3px;
    border-left: 3px solid $outline-primary;
  }
  &__title {
    margin-bottom: 0;
  }
  &__snippet {
    margin-top: 0;
  }
}
