// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Bloom Box section.
// -----------------------------------------------------------------------------

.bloom-box {

  margin-top: $gutter;

  &__row {

    @include outer-container;
    @include pad;

    display: flex;
    justify-content: space-between;

    &--reverse {
      flex-flow: row-reverse nowrap;

      text-align: right;
    }

    &--info {
      align-items: center;
    }

    &--icons {
      align-items: top;

      text-align: center;
    }

    flex-flow: row nowrap;
  }

  &__column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__illustration {
    flex: 0 1 auto;

    &--vertical {
      width: 100%;
    }
  }

  &__blurb {
    flex: 0 1 auto;

    width: 75%;

    // padding: 0 $gutter;

    &--icons {
      width: 100%;

      margin-top: 0;
      margin-bottom: 0;

      color: $machop;
    }
  }

  &__icons {
    background: $bulbasaur;
  }
}
