// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.main--home {
  padding-top: 0;
}

.landing {
  @include fill-parent;
  @include background-image('landing.header');

  min-height: 100vh;

  background-position: center;
  background-attachment: scroll;
  background-size: cover;

  &__hero {
    @include outer-container;
    @include pad;

    padding-top: 100px;
    padding-bottom: 50px;
    @include respond-to(small) { padding-top: 15vh; }
    @include respond-to(large) { padding-top: 25vh; }
  }
}

.intro {
  @include outer-container;
}
