// -----------------------------------------------------------------------------
// This file contains styles that are specific to the blog post page.
// -----------------------------------------------------------------------------


.post {

  &__header {
    @include row;

    border-bottom: 3px solid $machop;
  }
  &__meta {
    @include span-columns(6);

    margin-top: 0;
    margin-bottom: 0;
  }
  &__tags {
    @include span-columns(6);
    @include omega;

    text-align: right;

    a {
      color: $machop;
    }
  }
  &__tag {
    &:not(:last-child):after {
      content: ', ';

      user-select: text;
    }
  }

  &__title {
    margin-bottom: 0;
  }
  &__authors {
    margin-top: 0;
  }
  &__author {
    &:not(:last-child):after {
      content: ', ';

      user-select: text;
    }
    &:nth-last-child(2):after {
      content: ' ';
    }
    &:last-child:not(:first-child):before {
      content: '& ';

      user-select: text;
    }
  }
}
