// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product page.
// -----------------------------------------------------------------------------

.header--products {
  @include background-image('products.header');
}
.page--products {
  margin-bottom: $card-offset * -1;

  background: $products-background;
}
.main--products {
  position: relative;
  top: $card-offset * -1;

  padding-top: 0;
}
