// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product page.
// -----------------------------------------------------------------------------

.main--product {
  padding-top: $base-line-height;

  max-width: $measure;

  margin: 0 auto;
}
.product {
  background: $products-background;
}
