// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product page.
// -----------------------------------------------------------------------------

.header--products, .header--phenotonic, .header--growlite {
  @include background-image('products.header');
  padding-bottom: $card-offset;
}
.page--products {
  margin-bottom: $card-offset * -1;

  background: $products-background;
}
.main--products {
  position: relative;
  top: $card-offset * -2.5;
}
