// -----------------------------------------------------------------------------
// This file contains styles that are specific to the services page.
// -----------------------------------------------------------------------------
.page--services {
  color: $services-text;

  h1 {
    color: $services-primary;
  }

  a {
    color: $services-link;
  }
}
.header--services {
  @include background-image('services.header');

  padding-bottom: $services-offset;

  background-color: $services-primary;

  color: $services-text-reverse;

  h1 {
    color: $services-header;
  }
}

.services {
  @include pad(0 default 0 default);

  background-color: $services-background;

  h3:first-of-type {
    margin-top: 0;
  }

  &__container {
    position: relative;
    top: -$services-offset;

    max-width: $max-width;

    margin: 0 auto;
    padding: $gutter;

    border-radius: $gutter * 0.5;

    background-color: $background-primary;

    box-shadow: 0 0 5px rgba($services-shadow, 0.25);
  }
}


.service {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @include respond-to(medium) {
    flex-flow: row nowrap;

    &:nth-child(2n) {
      flex-flow: row-reverse nowrap;

      text-align: right;
    }
  }

  &:not(:last-child) {
    margin-bottom: $base-line-height;
  }

  &__icon {
    @include respond-to(medium) {
      flex: 1;
    }
  }

  &__text {
    @include respond-to(medium) {
      flex: 2;
    }
    @include respond-to(large) {
      flex: 3;
    }
  }
}
