// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background: $bulbasaur;
  color: $lugia;
  padding-top: $base-font-size;
  padding-bottom: $base-font-size;
  @include fill-parent;
  &__contact {
    @include outer-container;
    @include row;
  }
  &__column {
    @include span-columns(4);
    @include omega(3n);
  }

  a {
    color: $lugia;
    &:hover {
      color: $lugia;
    }
  }
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    @include respond-to(small) {
      text-align: left;
    }
  }
  address {
    font-style: normal;
  }
}
