// -----------------------------------------------------------------------------
// This file contains styles that are specific to the blog page.
// -----------------------------------------------------------------------------

.header--blog {
  @include background-image('blog.jpg', 'blog@2x.jpg', 'blog@3x.jpg', 'blog@4x.jpg');
}

.post-preview {
  &:not(:last-of-type) {
    margin-bottom: $gutter * 2;
  }

  &__meta {
    @include span-columns(3);
    @include pad(0 default);

    border-right: 3px solid $machop;

    text-align: right;
  }
  &__date {
    @include clearfix;

    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
  &__tags {
    margin-bottom: $h4-line-height;
    
    a {
      color: $machop;
    }
  }
  &__tag {
    &:not(:last-child):after {
      content: ', ';

      user-select: text;
    }
  }

  &__text {
    @include span-columns(9);
    @include omega;
  }
  &__title {
    margin-bottom: 0;
  }
  &__snippet {
    margin-top: 0;
  }
}
