// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

article {
  width: 100%;
  //max-width: $measure;
  margin: 0 auto;
  padding: 0 $base-line-height;
}

.landing {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/header__background.jpg");
  @include respond-to(pint) { background-image: url("../images/header__background@2x.jpg"); }
  @include respond-to(bomber) { background-image: url("../images/header__background@3x.jpg"); }
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  &__hero {
    padding: $base-font-size;
    padding-top: 75px;
    @include respond-to(pint) { padding-top: 20vh; }
    @include outer-container;
  }
}
.hero {

  &__wrapper {
    @extend section;
    max-width: $measure;
  }
  &__tagline {
    h1 {
      //font-size: $h1-font-size * 1.25;
      //line-height: $h1-line-height * 1.25;
    }
  }
}

// VPs
.value {
  @include fill-parent;
  &__prop {
    @include fill-parent;
    @include outer-container(100%);
    position: realtive;
  }
  &__img {
    @include span-columns(6);
    position: relative;
    padding: 0;
    height: 50vh;
  }
  &__background {
    background-color: $machop;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  &__overlay {
    background-color: rgba($ivysaur, 0.5);
    background: linear-gradient(to bottom, rgba($bulbasaur, 0.5), rgba($ivysaur, 0.5));
    width: 100%;
    height: 100%;
    @include position(absolute, 0 0 0 0);
  }
  &__text {
    @include span-columns(6);
    @include omega;
    z-index: z(value__text);
    margin-top: 7vh;
    h3, p {
      max-width: $measure * 0.75;
    }
  }
  &__headline {
    @include outer-container(100%);
    h3 {
      @include span-columns(3);
    }
  }
  &__icon {
    @include span-columns(9);
    @include omega;
    color: $ivysaur;
    font-size: $h3-font-size;
    margin-top: ($h3-font-size * $h3-line-height) * 0.6;
  }
}
