// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

article {
  width: 100%;
  //max-width: $measure;
  margin: 0 auto;
  padding: 0 $base-line-height;
}

.landing {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/header__background.jpg");
  @include respond-to(pint) { background-image: url("../images/header__background@2x.jpg"); }
  @include respond-to(bomber) { background-image: url("../images/header__background@3x.jpg"); }
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  &__hero {
    padding: $base-font-size;
    padding-top: 75px;
    @include respond-to(pint) { padding-top: 20vh; }
    @include outer-container;
  }
}
.hero {

  &__wrapper {
    @extend section;
    max-width: $measure;
  }
  &__tagline {
    h1 {
      //font-size: $h1-font-size * 1.25;
      //line-height: $h1-line-height * 1.25;
    }
  }
}

// VPs
.value {
  &__prop {
    @include respond-to(pint) {
      margin-bottom: 3rem;
    }
    &__icon {
      font-size: $huge-font-size;
      text-align: center;
      margin-top: 2rem;
      color: $ivysaur;
      &--net {
        @include respond-to(pint) {
          & ~ .value__prop__text {
            text-align: right;
          }
        }
      }
    }
    &__text {
    }
  }
}
.contact {
  background: $machop;
  &__wrapper {
    padding-bottom: 1.5rem;
  }
  &__text {
  }
  &__form {
    margin-top: 1.5rem;
    padding-left: $gutter;
    label, input, textarea {
      width: 100%;
    }
    label {
      text-transform: capitalize;
      //margin-bottom: $h4-margin-bottom;
    }
    input, textarea {
      margin-top: 0.25rem;
      margin-bottom: 0.75rem;
      border: 1px solid $machoke;
      border-radius: 3px;
      padding-left: 0.5rem;
      min-height: 2.5rem;
      outline: none;
      transition: box-shadow 0.3s ease;
      &:focus {
        box-shadow: 0 0 7px $ivysaur;
      }
    }
    &__button {
      display: block;
      margin: 0 auto;
    }
  }
}
