// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

article {
  @include fill-parent;
}

.landing {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../images/header__background.jpg");
  @include respond-to(pint) { background-image: url("../images/header__background@2x.jpg"); }
  @include respond-to(bomber) { background-image: url("../images/header__background@3x.jpg"); }
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  &__hero {
    padding: $base-font-size;
    padding-top: 75px;
    padding-bottom: 50px;
    //@include respond-to(pint) { padding-top: 50px; }
    @include respond-to(bomber) { padding-top: 20vh; }
    @include outer-container;
  }
}
.hero {

  &__wrapper {
    @extend section;
    max-width: $measure;
  }
  &__tagline {
    h1 {
      //font-size: $h1-font-size * 1.25;
      //line-height: $h1-line-height * 1.25;
    }
  }
}

// VPs
.value {
  @include fill-parent;
}
.prop {
  @include fill-parent;
  @include row;
  position: relative;
  &__img {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 20rem;
    max-height: 100vh;
    width: 100%;
    float: left;
    @include respond-to(pint) {
      min-height: 50vh;
      max-height: 125vh;
      width: 50%;
    }
    @include respond-to(bomber) {
      min-height: 50vh;
      max-height: 75vh;
    }
    @include respond-to(shorty) {
      width: 100%;
      height: 100%;
      min-height: 20rem;
    }
  }
  &__background {
    background-color: $machop;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    min-height: 20rem;
    max-height: 100vh;
    @include respond-to(pint) {
      min-height: 50vh;
      max-height: 125vh;
    }
    @include respond-to(bomber) {
      min-height: 50vh;
      max-height: 75vh;
    }
    @include respond-to(shorty) {
      width: 100%;
      height: 100%;
      min-height: 20rem;
    }
  }
  &__overlay {
    width: 100%;
    height: 100%;
    @include position(absolute, 0 0 0 0);
    background-color: rgba($snorlax, 0.5);
    background: linear-gradient(to bottom, rgba($snorlax, 0.8), rgba($ivysaur, 0.75));
    @include respond-to(pint) {
      background-color: rgba($ivysaur, 0.5);
      background: linear-gradient(to bottom, rgba($bulbasaur, 0.5), rgba($ivysaur, 0.5));
    }
    @include respond-to(shorty) {
      background-color: rgba($snorlax, 0.5);
      background: linear-gradient(to bottom, rgba($snorlax, 0.8), rgba($ivysaur, 0.75));
    }
  }
  &__text {
    float: left;
    width: 100%;
    min-height: 20rem;
    max-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: z(value__text);
    @include pad;
    padding-top: 0;
    color: $lugia;
    @include respond-to(pint) {
      min-height: 50vh;
      max-height: 125vh;
      width: 50%;
      position: relative;
      color: $snorlax;
    }
    @include respond-to(bomber) {
      min-height: 50vh;
      max-height: 75vh;
      padding-top: 5vh;
    }
    @include respond-to(shorty) {
      color: $lugia;
      min-height: 20rem;
      @include position(absolute, 0 0 0 0);
      width: 65%;
      margin: 0 auto;
    }
    h3, p {
      max-width: $measure * 0.75;
    }
  }
  &__icon {
    color: $ivysaur;
    font-size: $h3-font-size;
    margin-left: 3vw;
  }
}
.prop:nth-of-type(2n) {
  & .prop__img {
    float: right;
  }
  & .prop__text {
    float: right;
    text-align: right;
    h3, p {
      margin-left: auto;
    }
  }
}

.contact {
  @include fill-parent;
  background: $machop;
  section {
    @include outer-container;
    @include row;
  }
  &__text {
    @include span-columns(6);
  }
}
