/*******************************************************************************
 This file contains CSS helper classes.
 ******************************************************************************/

.is-full-width {
  width: 100%;
}

.container {
  display: relative;

  width: 100%;
  max-width: var(--max-width);

  margin: 0 auto;
  padding: var(--gutter);
}

.card {
  border-radius: calc(var(--gutter) * 0.5);
  padding: var(--gutter);

  background-color: var(--background-primary);

  box-shadow: 0 0 5px var(--shadow-primary);
}
