.contact {
  &__form {
    max-width: calc(var(--max-width) * 0.75);

    margin: var(--base-line-height) auto;
  }
  @media (--contact) {
    &__row {
      display: flex;
      justify-content: space-between;
    }

    &__col {
      flex: 1;

      &:not(:last-child) {
        margin-right: var(--gutter);
      }

      &--2 {
        flex: 2;
      }
    }
  }

  &__button {
    display: block;

    margin: 0 auto;
  }
}

label {
  @extend h4;
}

input, textarea, select {
  clear: fix;

  width: 100%;

  margin-top: calc(var(--h4-line-height) * 0.25);
  margin-bottom: var(--h4-line-height);
  border: 1px solid var(--outline-primary);
  border-radius: 3px;
  padding: 0 calc(var(--gutter) * 0.5);

  background-color: var(--background-primary);
}

input, select {
  height: calc(var(--base-font-size) + var(--base-line-height));
}

textarea {
  min-height: calc(var(--base-font-size) * 3 + var(--base-line-height) * 2);

  padding: calc(var(--gutter) * 0.5);
}

::placeholder {
  color: var(--outline-primary);
}
