/*******************************************************************************
 This file contains all styles related to the input bar component.
 ******************************************************************************/

.input-bar {

  /* max-width: var(--measure); */

  margin: 0 auto;

  input {
    float: left;

    width: calc(100% - 50px);

    border: none;
    border-bottom: 3px solid var(--text-primary);
    border-radius: 0;
    padding: calc(var(--gutter) * 0.25) 0;

    background: transparent;

    color: var(--text-primary);

    &::placeholder {
      color: var(--outline-primary);
    }
  }

  button {
    width: 50px;

    border: none;
    padding: calc(var(--gutter) * 0.25) 0;

    background: transparent;

    color: var(--text-primary);
    font-size: var(--h3-font-size);

    &:enter {
      color: var(--accent-primary);
    }

    &:active {
      color: color(var(--accent-primary) shade(10%));
    }
  }
}

.input-bar--reverse {
  input {
    border-bottom-color: var(--text-reverse);

    color: var(--text-reverse);

    &::placeholder {
      color: var(--outline-primary);
    }
  }

  button {
    color: var(--text-primary);

    &:enter {
      color: var(--outline-primary);
    }

    &:active {
      color: color(var(--outline-primary) shade(10%));
    }
  }
}
