extends page

block content
  .contact.contact--contact
    form.contact(action="//formspree.io/hi@phenotonic.com", method="POST")
      label(for="name") Who Are You?*
      input(name="name", type="text", placeholder="Kareem Abdul-Jabbar", required)
      label(for="email") Where Can We Contact You?*
      input(name="email", type="email", placeholder="kareem@ballsohard.com", required)

      label(for="message") What Do You Have to Say?*
      textarea(name="message", placeholder="I can do something else besides stuff a ball through a hoop. My biggest resource is my mind.", required)

      input(type="text", name="_gotcha", style="display:none")

      input(type="hidden", name="_next", value="/#{ path }/?thanks")

      button.contact__button Get in Touch
