doctype html
include components/add-product
include components/mini-product
include components/product-preview
include components/bloom-box

html
  head
    include partials/head
  body
    include partials/navigation

    block page
      main.main(role="main")
        block content
          h1= title
          != contents

    include partials/footer
    include partials/scripts
