doctype html
include utils/_mixins.jade

html
  head
    include partials/_head.jade
  body
    include partials/_nav.jade

    header.landing
      .landing__hero
        h1= landing.headline
        p= landing.copy
        a(href="#{ landing.url }", class="btn")= landing.button
        
    +bloom-box("bloom-box")

    include partials/_footer.jade
    include partials/_scripts.jade
