doctype html
include utils/_mixins.jade

html
  head
    include partials/_head.jade
  body
    include partials/_nav.jade

    header.landing
      .landing__hero
        h1 Introducing the Bloom Box
        p We made the best organic CO2 generator in the universe to give plants the happy life they deserve.
        a(href="/products/bloom-box", class="btn") Let's Grow
        
    +bloom-box("bloom-box")

    include partials/_footer.jade
    include partials/_scripts.jade
