extends default

block page
  .page--services

    header.header.header--services
      .header__text
        h1 With a Little Help From Your&nbsp;Friends
        h3 Us. Phenotonic! We're your friends. #brands

    section.services
      .services__container
        .service.service--consulting
          svg.service__icon(role="img", title="The clipboard is the best friend of consultants and health inspectors everywhere."): use(xlink:href="/images/services.svg#consulting")
          .service__text
            h2#consulting Consulting
            p When you come across a problem in your garden, it can be tempting to spend all day looking for solutions on your own. Unfortunately, every minute you spend looking for an answer is a minute that your garden is suffering.
            p Phenotonic's experienced consultants are able to quickly diagnose problems. If you're having a problem, we’ve seen it. And we have the solutions for you.
        .service.service--planning
          svg.service__icon(role="img", title="We don't *actually* use blueprints, but we do agressively document our plans."): use(xlink:href="/images/services.svg#planning")
          .service__text
            h2#planning Planning
            p Carpenters (and dads) have a saying: &ldquo;measure twice, cut once&rdquo;. If you know what to do <em>before</em> you do it, you're gonna save yourself a lot of headaches. At Phenotonic, we've learned from our headaches. And to make sure you never have any, we offer planning services. Our expert gardeners can turn an empty room into a lucious garden, or help you take your existing garden to the next step.
        .service.service--installation
          svg.service__icon(role="img", title="We have a lot more tools than this hammer and wrench, trust us."): use(xlink:href="/images/services.svg#installation")
          .service__text
            h2#installation Installation
            p Not all of us can be an Al Borland. Most of us can't even be a Tim Taylor. Luckily, you don't have to be either: Phenotonic can install any gardening equipment you have, and we even know some licensed electricians &amp; HVAC experts. Let us build your green dreams into bright realities.
        .service.service--maintenance
          svg.service__icon(role="img", title=""): use(xlink:href="/images/services.svg#maintenance")
          .service__text
            h2#maintenance Maintenance
            p No one knows better than us that a garden is a full-time job. Sometimes, you just need a break from the daily routine; sometimes life throws a wrench into your plans. Luckily, we can maintain your garden while you're away. And like all good boy scouts, we'll even try to leave a better garden than we found.
            p So if you need a vacation, or an emergency takes you away, let us keep your garden fed and growing. Have the peace of mind that our qualified professionals are checking on your garden and making sure you come home to a thriving garden, just the way you left it.

    section.pricing#pricing
      .pricing__container
        span.pricing__rate.pricing__rate--just Just
        span.pricing__rate.pricing__rate--price 100
        span.pricing__rate.pricing__rate--time per hour
        hr.pricing__divider
        span.pricing__rate.pricing__rate--block Pre-schedule a block of four hours for just $350
        span.pricing__rate.pricing__rate--emergency Emergency visit* additional $75
        span.pricing__rate.pricing__rate--def: small *Emergency visit is any visit that takes place within 48 hours of initial contact


    section.contact
      h2.contact__tagline Help Us Help You
      form.contact__form(action="//formspree.io/hi@phenotonic.com", method="POST")
        .contact__row.contact__row--info
          .contact__col.contact__col--name
            label(for="name") Who Are You?*
            input(name="name", type="text", placeholder="Anne Ominous", required)
          .contact__col.contact__col--email
            label(for="email") Where Can We Contact You?*
            input(name="email", type="email", placeholder="anne.onimous@psuedonym.com", required)

        .contact__row.contact__row--info
          .contact__col.contact__col--service
            label(for="service") How Can We Help?*
            select(name="service", required)
              option(value="", disabled, selected) Select a Service
              option(value="consulting") Consulting
              option(value="planning") Planning
              option(value="installation") Installation
              option(value="maintenance") Maintenance
              option(value="other") Something Special
          .contact__col.contact__col--emergency
            label(for="emergency") Is This an Emergency?
            select(name="emergency")
              option(value="no") No
              option(value="yes") Yes

        label(for="message") Anything We Should Know?
        textarea(name="message", placeholder="Help! My venus fly traps learned to walk and are terrorizing my pet ferret!")

        input(type="text", name="_gotcha", style="display:none")

        input(type="hidden", name="_next", value=path + "/?thanks")

        button.contact__button Get in Touch
