/*******************************************************************************
 This file contains all styles that are specific to the error page.
 ******************************************************************************/

.header--error {
  min-height: 75vh;

  background-image: url('../images/error.header.jpg');
  @media (--small) { background-image: url('../images/error.header@2x.jpg'); }
  @media (--medium) { background-image: url('../images/error.header@3x.jpg'); }
  @media (--large) { background-image: url('../images/error.header@4x.jpg'); }
}
