/*******************************************************************************
 This file contains all styles that are specific to the blog post page.
 ******************************************************************************/

.post {
  &__header {
    @neat-row;

    border-bottom: 3px solid var(--outline-primary);
  }

  &__meta {
    @neat-span-columns 6;

    margin-top: 0;
    margin-bottom: 0;
  }

  &__tags {
    @neat-span-columns 6;
    @neat-omega;

    text-align: right;

    a {
      color: var(--link-inactive);
    }
  }

  &__tag {
    &:not(:last-child)::after {
      content: ', ';

      user-select: text;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__authors {
    margin-top: 0;
  }

  &__author {
    &:not(:last-child)::after {
      content: ', ';

      user-select: text;
    }

    &:nth-last-child(2)::after {
      content: ' ';
    }

    &:last-child:not(:first-child)::before {
      content: '& ';

      user-select: text;
    }
  }
}
