// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Settings

$nav-height: rem(75);
$modular-scale-ratio: $golden;
$modular-scale-base: 1rem;
$base-font-size: modular-scale(0);
$base-line-height: 1.618rem;
$gutter: $base-line-height;
$measure: 55rem;
$max-width: 64rem;
$services-offset: $gutter * 3;

// Colors
$bulbasaur: #ebefeb;
$ivysaur: #4daa50;
$venusaur: #454e3e;

$zapdos: #d7d76d;

$squirtle: #ebeeef;
$wartortle: #518eaa;
$blastoise: #464a4b;

$lugia: #ffffff;
$onix: #dbd5cd;
$snorlax: #4c4845;

/************************/

$brand-primary: $ivysaur;
$accent-primary: $zapdos;
$text-primary: $venusaur;
$link-primary: $ivysaur;
$button-primary: $ivysaur;
$outline-primary: $onix;
$background-primary: $lugia;
$shadow-primary: $venusaur;

$link-inactive: $onix;
$button-inactive: $onix;

$text-reverse: $bulbasaur;
$link-reverse: $lugia;
$button-reverse: $lugia;
$background-reverse: $venusaur;

$services-primary: $wartortle;
$services-header: $lugia;
$services-text: $blastoise;
$services-text-reverse: $squirtle;
$services-link: $wartortle;
$services-button: $wartortle;
$services-background: $squirtle;
$services-shadow: $blastoise;

// Breakpoints

$breakpoints: (
  small: "(min-width: 30em)",
  is-small: "(max-width: 29.9em)",
  medium: "(min-width: 40em)",
  is-medium: "(min-width: 40em) and (max-width: 63.9em)",
  large: "(min-width: 64em)",
  not-large: "(max-width: 63.9em)",
  is-large: "(min-width: 64em) and (max-width: 89.9em)",
  xlarge: "(min-width: 90em)",
  huge: "(min-width: 120em)"
);

// Font-stacks

$heading-text: "Geomanist", $helvetica;
$body-text: "Bitter", $georgia;

// line-heights

$h1-line-height: $base-line-height * 3;
$h2-line-height: $base-line-height * 2;
$h3-line-height: $base-line-height;
$h4-line-height: $base-line-height;

// Headers

$h1-font-size: modular-scale(3);
$h2-font-size: modular-scale(2);
$h3-font-size: modular-scale(1);
$h4-font-size: modular-scale(0);

// Other
$xsmall-font-size: modular-scale(-2);
$small-font-size: modular-scale(-1);
$huge-font-size: modular-scale(4);
$xhuge-font-size: modular-scale(5);

// A running list of z-indexii

$zindex: (
  landing: 1,
  hero: 100,
  value: 200,
  value__img: 210,
  value__text: 220,
  nav: 1000,
  nav-content: 1010,
  nav-bar: 1100
);

// FONT STACKS for @MIXIN FONT
// @author hmphry
// @link http://hmphry.com/useful-sass-mixins

$font-stack:
  (group: heading, id: light, font: $heading-text, weight: 300, style: normal),
  (group: heading, id: light-italic, font: $heading-text, weight: 300, style: italic),
  (group: heading, id: regular, font: $heading-text, weight: 400, style: normal),
  (group: heading, id: regular-italic, font: $heading-text, weight: 400, style: italic),
  (group: heading, id: book, font: $heading-text, weight: 500, style: normal),
  (group: heading, id: book-italic, font: $heading-text, weight: 500, style: italic),
  (group: heading, id: medium, font: $heading-text, weight: 600, style: normal),
  (group: heading, id: medium-italic, font: $heading-text, weight: 600, style: italic),
  (group: heading, id: bold, font: $heading-text, weight: 700, style: normal),
  (group: heading, id: bold-italic, font: $heading-text, weight: 700, style: italic),

  (group: body, id: regular, font: $body-text, weight: 400, style: normal),
  (group: body, id: regular-italic, font: $body-text, weight: 400, style: italic),
  (group: body, id: bold, font: $body-text, weight: 700, style: normal),
  (group: body, id: bold-italic, font: $body-text, weight: 400, style: italic),

  (group: monospace, id: regular, font: $monospace, weight: 400, style: normal),
  (group: monospace, id: regular-italic, font: $monospace, weight: 400, style: italic),
  (group: monospace, id: bold, font: $monospace, weight: 700, style: normal),
  (group: monospace, id: bold-italic, font: $monospace, weight: 400, style: italic);

  // (group: geomanist, id: thin, font: $geomanist, weight: 100, style: normal),
  // (group: geomanist, id: thin-italic, font: $geomanist, weight: 100, style: italic),
  // (group: geomanist, id: extralight, font: $geomanist, weight: 200, style: normal),
  // (group: geomanist, id: extralight-italic, font: $geomanist, weight: 200, style: italic),
  // (group: geomanist, id: light, font: $geomanist, weight: 300, style: normal),
  // (group: geomanist, id: light-italic, font: $geomanist, weight: 300, style: italic),
  // (group: geomanist, id: black, font: $geomanist, weight: 800, style: normal),
  // (group: geomanist, id: black-italic, font: $geomanist, weight: 800, style: italic),
  // (group: geomanist, id: ultra, font: $geomanist, weight: 900, style: normal),
  // (group: geomanist, id: ultra-italic, font: $geomanist, weight: 900, style: italic),
