//- Preview product card
mixin product-preview(id)

  for product in collections.products

    if id == product.id

      .product-preview.is-image

        if product.image
          a.product-preview__image.is-image(href="/" + product.path): img(src="/images/" + product.image)
        else
          .product-preview__placeholder

        h3.product-preview__name: a(href="/" + product.path)= product.title
        if product.snippet
          h4.product-preview__snippet= product.snippet

        hr

        h4.product-preview__data
          a(href="/products/manufacturer/" + product.manufacturer).product-preview__manufacturer= product.manufacturer
          | &#032;|&#032;
          span.product-preview__price= "$" + product.price
