section.bloom-box
  include ../svg/instructions.svg
  
  .bloom-box__bag
    include ../svg/bag-co2.svg
    h3 An Organic Generator
    p The mushroom spores in the Bloom Box are voracious eaters surrounded by food. They break down organic matter in the substrate they live in, producing excess CO2 in the process.
    
  .bloom-box__plants
    include ../svg/plants-co2.svg
    h3 Plants Made Happy
    p a 
    
  .bloom-box__recycle
    include ../svg/recycle.svg
    h3 The Virtuous Cycle
    p a 
    
  .bloom-box__info
    .bloom-box__mushroom
      h3 A Delicious Byproduct
      p
        | After this bag stops CO2 production, you may notice mushroom sprouts in the bag. They are perfectly healthy to eat, organic, and taste great! Use them in your next meal after rinsing.
        br
        | (We recommend a good eggplant parmesan.)
      
    .bloom-box__time
      h3 Good for 293 Million Miles
      p Our high-quality blend produces CO2 for up to 6 months. During that time, the Earth will tavel about 293 million miles. Meanwhile, you'll sneeze 400 times, sleep for 60 days, eat 998 pounds of food, and watch 858 hours of television.
  
  h3 Buy Now
  
  +mini-product("bloom-box")
  +mini-product("bloom-box-case")
